# Ignore virtual environment
venv_scrapchef/
venve/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables 
.env
.env.local

# Ignore compiled and temporary files
*.log
db.sqlite3


# Ignore VS Code settings (if applicable)
.vscode/

# Tailwind build files
theme/static/css/output.css
node_modules/

#Secrets
.env
env.yaml
