{% extends "base.html" %}
{% block title %}Home - ScrapChef{% endblock %}

{% block content %}
  <!-- Hero Section -->
<section class="text-center z-10 flex flex-col items-center justify-center py-20 bg-orange-100 rounded-lg border-blue-300 border-2 p-8">
    <h1 class="font-amatic text-7xl font-bold text-black">ScrapChef 🍅</h1>
    <p class="text-xl text-gray-900 mt-2">Waste Less. Feast More.</p>

    <!-- Call to Action -->
    <div class="mt-6">
        <a href="{% url 'generate_recipe' %}" 
           class="bg-green-500 text-white px-6 py-3 rounded-md text-lg shadow-lg hover:bg-green-700 transition inline-block">
            Generate a Recipe
        </a>
    </div>
</section>

{% endblock %}
